<!-- <h1>Main</h1> -->
<!-- <h1 style="align-items: center">Welcome to {{ title }}!</h1>
<p>current count is {{ ClickCounter }}</p>
<app-home
  [count]="ClickCounter"
  (countChanged)="countChangedHandler($event)"
></app-home> -->

<nav>
  <ul class="menu">
    <li>
      Mac
      <ul class="sub-menu">
        <li>MacBook</li>
        <li>MacBook Air</li>
        <li>iMac</li>
        <li>Mac Pro</li>
        <li>Mac Mini</li>
      </ul>
    </li>

    <li>
      iPad
      <ul class="sub-menu">
        <li>iPad Pro</li>
        <li>iPad</li>
        <li>iPad mini 4</li>
        <li>Accessories</li>
        <li>Compare</li>
      </ul>
    </li>

    <li>
      iPhone
      <ul class="sub-menu">
        <li>iPhone 7</li>
        <li>iPhone 6s</li>
        <li>iPhone SE</li>
        <li>iOS 10</li>
        <li>Compare</li>
      </ul>
    </li>

    <li>
      Music
      <ul class="sub-menu">
        <li>Apple Music</li>
        <li>iTunes</li>
        <li>Home Pod</li>
        <li>iPod</li>
        <li>Gift Cards</li>
      </ul>
    </li>

    <li>
      TV
      <ul class="sub-menu">
        <li>Apple TV</li>
        <li>tvOS</li>
        <li>Accessories</li>
        <li>Movies</li>
        <li>TV shows</li>
      </ul>
    </li>
  </ul>
</nav>
<i class="bi bi-search"></i>
<span class="bi bi-search">Hii</span>
